<!DOCTYPE html>
<html>
<head>
<title>Facebook API</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
  .glyphicon-heart{
    color:#ff0000
  }
  .glyphicon-comment{
    color: aqua
  }
  .glyphicon-trash{
    color:brown
  }
  .scr{
    height:500px;
    overflow-y: scroll;
  }
</style>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/fb-api.js"></script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Facebook API</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <strong id="username">Login </strong></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button> --}}
        <div  class="fb-login-button" 
              data-size="large" 
              data-button-type="login_with" 
              data-auto-logout-link="true" 
              data-use-continue-as="true"
              data-scope="public_profile,email,publish_to_groups,manage_pages,publish_pages"></div>

        <p>Facebook name : <small id=name> </small></p>
        <span>Facebook pages</span>
        <select id="pages"> </select>
        <button id="ok">OK</button><br><br><br>
      </div>
      <div class="col-md-6 bg-primary scr">
        <p>Facebook page : <small id="fb_page"> </small></p>
        <p>About : <small id="fb_about"> </small></p>
        <p>Likes : <span id="fb_like"></span></p>
        <p>Posts : <span id="fb_post"></span></p>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="post_message">Message:</label>
              <textarea class="form-control" rows="5" id="post_message" id="post_message" placeholder="What do you thing.." name="post_message"></textarea>
            </div>
            <button  class="btn btn-default pull-right" onclick="post_submit()">Post</button>
            <div class="form-group">
              <label for="imgInp">Example file input</label>
              <input type="file" class="form-control-file" id="imgInp">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="publish" id="publish"> Publish</label>
            </div>
            
            <p id="post_review"></p>
          </div>
        </div><br>
        <div class="row" id="fb_cards">
      
        </div>
      </div>
      <div class="col-md-6 bg-danger scr">
        <p>IG name : <small id=ig_name> </small></p>
        <p>Follow : <span id="follow"></span></p>
        <p>Following : <span id="following"></span></p>
        <p>Post : <span id="media_count"></span></p>
        <div class="row" id="cards">
          
        </div>
      </div>
    </div>
    
  </div>
  <script>
    $("#imgInp").change(function(){
        readURL(this);
    });
  </script>
</body>
</html>